footer.footer

  img(src="./img/logo-title.svg" width="128" height="23" alt="Логотип-надпись")._logo
  ul.social
    li._element.-vk
      a(href="https://vk.com/htmlacademy")._link
        svg(width="20" height="20" aria-hidden=true focusable=false).social__image.-vk
          use(xlink:href="#social-icon_vk")
        span.visually-hidden Наш ВК
    li._element.-instagram
      a(href="https://www.instagram.com/htmlacademy/")._link
        svg(width="20" height="20" aria-hidden=true focusable=false).social__image.-instagram
          use(xlink:href="#social-icon_instagram")
        span.visually-hidden Наш Инстаграм
    li._element.-fb
      a(href="https://www.facebook.com/htmlacademy")._link
        svg(width="20" height="28" aria-hidden=true focusable=false).social__image.-fb
          use(xlink:href="#social-icon_facebook")
        span.visually-hidden Наш Фейсбук
  div.academy.container
    a(href="https://htmlacademy.ru/intensive/adaptive")._link.link
      svg(width="157" height="45")._logo-image
        use(xlink:href="#htmlacademy-sign-logo")
      svg(width="27" height="39")
        use(xlink:href="#htmlacademy-logo")
